/**/*.iml
/**/*.ipr
/**/*.iws
/.classpath
/.git
/.svn
/.idea
/.project
/.settings
/.sonar-ide.properties
/atlassian-ide-plugin.xml
/.ignore
/**/overlays
/**/target/
/**/*.log
#/*/_ign_mvn_*.log
*.iml
*.class
.DS_Store